<%- include('partials/header'); -%>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">
      About
    </h1>
    <p class="lead text-muted">
      This is a website for writing and keeping a personal online diary. Its written using node.js, express.js and ejs. This webpage is currently in development phase and has very limited features. Click on the <i class="fas fa-feather-alt"></i> icon on the top to compose a new entry. Have fun! :)
    </p>
  </div>
</<section>

<%- include('partials/footer'); -%>
